<div class="block">
  <h3><%=t :Statistics%></h3>
  <div class="content">
  <table class="table">
<% if @club != nil && !@club.students.blank? %>
  <tr>
  <td><%=t :Num_students%>:</td>
  <td><%= @club.students.length %></td>
  <tr>
<% end %>
  </table>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
  </ul>
</div>
