<div class="block">
  <div class="secondary-navigation">
    <ul>
      <%= render :partial => 'application/links' %>
      <% if edit_club_permission? %>
      <li><%= link_to t(:Edit_Club), edit_club_path(@club) %></li>
      <% end %>
    </ul>
    <div class="clear"></div>
  </div>
  <div class="content">
    <div class="inner">
      Foo
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>

