body {
	line-height: 1.5em;
}
td.student-active {
        background-color: #f0fff0;
}
td.student-inactive {
        background-color: #fff0f0;
}
th.first, th.last, td {
        width: inherit!important;
}
/*
.table {
    width: inherit!important;
	min-width: 75%;
}
*/
.fullwidth {
	width: 100%;
}
.table td {
    padding: 6px 5px 4px 5px;
}
.lesspadding td {
    padding: 3px 5px 2px 5px;
}
#footer {
	font-size: .8em;
}