body {
	line-height: 1.5em;
}
td.student-active {
        background-color: #f0fff0;
}
td.student-inactive {
        background-color: #fff0f0;
}
th.first {
        width: inherit!important;
}
th.last {
        width: inherit!important;
}
.table td {
    padding: 6px 5px 4px 5px;
}
.lesspadding td {
    padding: 3px 5px 2px 5px;
}
#footer {
	font-size: .8em;
}