<div class="block">
	<div class="secondary-navigation">
		<ul>
			<%= render :partial => 'application/links' %>
		</ul>
		<div class="clear"></div>
	</div>
	<div class="content">
		<h2 class="title"><%=t:New_Mailing_List%></h2>
		<div class="inner">
			<% form_for :mailing_list, :url => mailing_lists_path, :html => { :class => :form } do |f| -%>
			<%= render :partial => "form", :locals => {:f => f} %>
			<% end -%>
		</div>
	</div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>